<p>tipocambio works!</p>
<h1 style="margin-bottom: 15px; font-weight: bold; font-style: italic;">Tipo de Cambio</h1>
<button class="btn btn-primary rounded-pill" [routerLink]='["/tipocambio/agregar"]'>Agregar Tipo de Cambio</button>
<button class="btn btn_naranja rounded-pill" [routerLink]='["/tipocambio/cotizar"]' style="margin:0px 20px;">Cotizar Moneda</button>
<p *ngIf="!(personas&&personas.length)">
  No existen registros para mostrar
</p>


<table class="table" *ngIf="personas&&personas.length">
  <thead>
    <tr>
      <th>Abreviacion</th>
      <th>Moneda Origen</th>
      <th>Moneda Destino</th>
      <th>Conversion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personas">
      <td>{{persona.abreviacion}}</td>
      <td>{{persona.monedaOrigen.abreviacion}}</td>
      <td>{{persona.monedaDestino.abreviacion}}</td>
      <td>{{persona.conversion}}</td>
      <td>{{persona.fechaActualizacion | date :'dd/MM/yy hh:mm:ss'}}</td>
      <td>
        <button class="btn btn_naranja rounded-pill" [routerLink]='["/tipocambio/editar/"+persona.tipo_Cambio_Id]'>Editar</button>
        <button class="btn btn-danger rounded-pill" (click)="delete(persona)" style="margin: 0px 20px;">Borrar</button>
      </td>
    </tr>

  </tbody>
</table>
